In [1]:
import pandas as pd
import numpy as np
import scipy.stats as stats

In [2]:
data=pd.read_csv(r"C:\Users\dell\Desktop\Srinivas\Assignments\Hypothesis\Faltoons.csv")

In [8]:
data

    Weekdays Weekend
0       Male  Female
1     Female    Male
2     Female    Male
3       Male  Female
4     Female  Female
..       ...     ...
395   Female    Male
396   Female  Female
397   Female  Female
398   Female    Male
399   Female  Female

[400 rows x 2 columns]

In [9]:
one=data['Weekdays'].value_counts()

In [10]:
two=data['Weekend'].value_counts()

In [11]:
one.shape

(2,)

In [14]:
pd.DataFrame(np.array(one).reshape(1,2),columns=['Male', 'Female'])

   Male  Female
0   287     113

In [15]:
data=pd.concat([pd.DataFrame(np.array(one).reshape(1,2),columns=['Male', 'Female']),pd.DataFrame(np.array(two).reshape(1,2),columns=['Male', 'Female'])],axis=0)

In [19]:
data.reset_index(inplace=True)

In [21]:
data.drop('index',axis=1,inplace=True)

In [22]:
data

   Male  Female
0   287     113
1   233     167

In [23]:
Observed_Values = data.values 
print("Observed Values :-\n",Observed_Values)

Observed Values :-
 [[287 113]
 [233 167]]

In [24]:
val=stats.chi2_contingency(data)
val

(15.434065934065934,
 8.54342267020237e-05,
 1,
 array([[260., 140.],
        [260., 140.]]))

In [25]:
Expected_Values=val[3]

In [26]:
no_of_rows=len(data.iloc[0:2,0])
no_of_columns=len(data.iloc[0,0:2])
ddof=(no_of_rows-1)*(no_of_columns-1)
print("Degree of Freedom:-",ddof)
alpha = 0.05

Degree of Freedom:- 1

In [27]:
from scipy.stats import chi2
chi_square=sum([(o-e)**2./e for o,e in zip(Observed_Values,Expected_Values)])
chi_square_statistic=chi_square[0]+chi_square[1]

In [28]:
print("chi-square statistic:-",chi_square_statistic)

chi-square statistic:- 16.021978021978022

In [29]:
critical_value=chi2.ppf(q=1-alpha,df=ddof)
print('critical_value:',critical_value)

critical_value: 3.841458820694124

In [30]:
p_value=1-chi2.cdf(x=chi_square_statistic,df=ddof)
print('p-value:',p_value)
print('Significance level: ',alpha)
print('Degree of Freedom: ',ddof)
print('p-value:',p_value)

p-value: 6.26114287795021e-05
Significance level:  0.05
Degree of Freedom:  1
p-value: 6.26114287795021e-05

In [31]:
if chi_square_statistic>=critical_value:
    print("Reject H0,There is a relationship between 2 categorical variables")
else:
    print("Retain H0,There is no relationship between 2 categorical variables")
    
if p_value<=alpha:
    print("Reject H0,There is a relationship between 2 categorical variables")
else:
    print("Retain H0,There is no relationship between 2 categorical variables")

Reject H0,There is a relationship between 2 categorical variables
Reject H0,There is a relationship between 2 categorical variables