In [1]:
import pandas as pd
import numpy as np
import scipy.stats as stats

In [18]:
data=pd.read_csv(r"C:\Users\dell\Desktop\Srinivas\Assignments\Hypothesis\Costomer+OrderForm.csv")

In [19]:
data

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [20]:
import scipy.stats as stats

In [31]:
one=data['Phillippines'].value_counts()

In [36]:
one

Error Free    271
Defective      29
Name: Phillippines, dtype: int64

In [32]:
two=data['Indonesia'].value_counts()

In [33]:
three=data['Malta'].value_counts()

In [34]:
four=data['India'].value_counts()

In [55]:
pd.DataFrame(np.array(one).reshape(1,2),columns=['Errorfree', 'Defective'])

   Errorfree  Defective
0        271         29

In [49]:
pd.DataFrame(np.array(two).reshape(1,2),columns=['Errorfree', 'Defective'])

   Errorfree  Defective
0        267         33

In [50]:
pd.DataFrame(np.array(three).reshape(1,2),columns=['Errorfree', 'Defective'])

   Errorfree  Defective
0        269         31

In [51]:
pd.DataFrame(np.array(four).reshape(1,2),columns=['Errorfree', 'Defective'])

   Errorfree  Defective
0        280         20

In [59]:
data=pd.concat([pd.DataFrame(np.array(one).reshape(1,2),columns=['Errorfree', 'Defective']),pd.DataFrame(np.array(two).reshape(1,2),columns=['Errorfree', 'Defective']),pd.DataFrame(np.array(three).reshape(1,2),columns=['Errorfree', 'Defective']),pd.DataFrame(np.array(four).reshape(1,2),columns=['Errorfree', 'Defective'])],axis=0)

In [64]:
data.reset_index(inplace=True)

In [65]:
data.drop('index',axis=1,inplace=True)

In [66]:
data

   Errorfree  Defective
0        271         29
1        267         33
2        269         31
3        280         20

In [67]:
Observed_Values = data.values 
print("Observed Values :-\n",Observed_Values)

Observed Values :-
 [[271  29]
 [267  33]
 [269  31]
 [280  20]]

In [68]:
val=stats.chi2_contingency(data)
val

(3.8589606858203545,
 0.2771020991233144,
 3,
 array([[271.75,  28.25],
        [271.75,  28.25],
        [271.75,  28.25],
        [271.75,  28.25]]))

In [69]:
Expected_Values=val[3]

In [70]:
no_of_rows=len(data.iloc[0:2,0])
no_of_columns=len(data.iloc[0,0:2])
ddof=(no_of_rows-1)*(no_of_columns-1)
print("Degree of Freedom:-",ddof)
alpha = 0.05

Degree of Freedom:- 1

In [71]:
from scipy.stats import chi2
chi_square=sum([(o-e)**2./e for o,e in zip(Observed_Values,Expected_Values)])
chi_square_statistic=chi_square[0]+chi_square[1]

In [72]:
print("chi-square statistic:-",chi_square_statistic)

chi-square statistic:- 3.858960685820355

In [73]:
critical_value=chi2.ppf(q=1-alpha,df=ddof)
print('critical_value:',critical_value)

critical_value: 3.841458820694124

In [74]:
p_value=1-chi2.cdf(x=chi_square_statistic,df=ddof)
print('p-value:',p_value)
print('Significance level: ',alpha)
print('Degree of Freedom: ',ddof)
print('p-value:',p_value)

p-value: 0.0494809703539999
Significance level:  0.05
Degree of Freedom:  1
p-value: 0.0494809703539999

In [75]:
if chi_square_statistic>=critical_value:
    print("Reject H0,There is a relationship between 2 categorical variables")
else:
    print("Retain H0,There is no relationship between 2 categorical variables")
    
if p_value<=alpha:
    print("Reject H0,There is a relationship between 2 categorical variables")
else:
    print("Retain H0,There is no relationship between 2 categorical variables")

Reject H0,There is a relationship between 2 categorical variables
Reject H0,There is a relationship between 2 categorical variables