In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv(r"C:\Users\dell\Desktop\Srinivas\Assignments\Hypothesis\LabTAT.csv")

In [3]:
data

     Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0          185.35        165.53        176.70        166.13
1          170.49        185.91        198.45        160.79
2          192.77        194.92        201.23        185.18
3          177.33        183.00        199.61        176.42
4          193.41        169.57        204.63        152.60
..            ...           ...           ...           ...
115        178.49        170.66        193.80        172.68
116        176.08        183.98        215.25        177.64
117        202.48        174.54        203.99        170.27
118        182.40        197.18        194.52        150.87
119        182.09        215.17        221.49        162.21

[120 rows x 4 columns]

In [4]:
data.isna().sum()

Laboratory 1    0
Laboratory 2    0
Laboratory 3    0
Laboratory 4    0
dtype: int64

In [5]:
data['Laboratory 1'].mean()

178.36158333333339

In [6]:
data['Laboratory 2'].mean()

178.9029166666668

In [7]:
data['Laboratory 3'].mean()

199.91325000000003

In [8]:
data['Laboratory 4'].mean()

163.6827499999999

In [9]:
import scipy.stats as stats

In [10]:
F, p = stats.f_oneway(data['Laboratory 1'],data['Laboratory 2'],data['Laboratory 3'],data['Laboratory 4'])

In [11]:
F, p

(118.70421654401437, 2.1156708949992414e-57)

In [12]:
if p<0.05:
    print("reject null hypothesis")
else:
    print("accept null hypothesis")

reject null hypothesis